<h1>Event Notifications</h1>
<div Output ng-app="Output" ng-controller="OutController as controller">
    <table class="table table-striped table-rsp table-detail">
        <thead>
            <th>Name</th>
            <th>Event</th>
            <th>Owner</th>
            <th>Request</th>
            <th>Time</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr ng-repeat="entry in controller.notificationsTable | limitTo:15">
                <td>{$ entry.name $}</td>
                <td>{$ entry.body $}</td>
                <td>{$ entry.tenantID $}</td>
                <td>{$ entry.requestID $}</td>
                <td>{$ entry.time $}</td>
                <td>{$ entry.date $}</td>
            </tr>
        </tbody>
    </table>

    <button ng-click="">Test</button>
    <!--- for testing purposes
    <div>
        <p>success: {$ controller.opensuccess $}
        <p>message received: {$ controller.msgeventtrigger $}
        <p>Project: {$ controller.projectId $}
        <p>UUID: {$ controller.uuid $}
        <p>Token: {$ controller.token $}
        <p>Authenticated: {$ controller.authenticated $}
        <p>Subscribed: {$ controller.subscribed $}
    </div>
    <p>UUID(LocalSettings): {$ controller.uuid2 $}
    <p>UUID(userID): {$ controller.uuid $}
    -->
</div>